<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Mushrooms 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20111205

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Mushrooms by FCT</title>
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Marvel' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Marvel|Delius+Unicase' rel='stylesheet' type='text/css'>
<link href="/static/css/stylev1.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="wrapper2">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">Mushrooms </a></h1>
			
			</div>
			<div id="menu">
				<ul>
					
					<li  ><a href="{{ url_for('home') }}">Home</a></li>
					<li><a href="{{ url_for('Type_form') }}">Type</a></li>
					<li class="current_page_item"><a href="{{ url_for('Health_form') }}">Health Tips</a></li>
					<li><a href="{{ url_for('Qc_form') }}">Qc</a></li>
                    <li><a href="{{ url_for('Visualization_form') }}">Visualization</a></li>
				</ul>
			</div>
		</div>
		<!-- end #header -->
		<div id="page">
			<div id="content">
				<div class="post">
					<h2 class="title"><a href="#">Health benefits </a></h2>
					
					<div style="clear: both;">&nbsp;</div>
					<div class="entry">
						<p>Mushrooms contain protein, vitamins, minerals, and antioxidants. These can have various health benefits.

							For example, antioxidants are chemicals that help the body eliminate free radicals.
							
							Free radicals are toxic byproducts of metabolism and other bodily processes. They can accumulate in the body, and if too many collect, oxidative stress can result. This can harm the body’s cells and may lead to various health conditions.
							
							Among the antioxidant agents in mushrooms are:
							
							selenium
							vitamin C
							choline
							</p>
							<h3>Cancer</h3>
							<p>
								The antioxidant content in mushrooms may help prevent lung, prostate, breast, and other types of cancer, according to the National Cancer Institute.
								
								Some sources have suggested that selenium may help prevent cancer, but a Cochrane review, from 2017, found no evidence to confirm this.
								
								Mushrooms also contain a small amount of vitamin D. There is some evidence that vitamin D supplementation may help prevent or treat some kinds of cancer, though according to a 2018 report, the effect may vary from person to person.
								
								Choline is another antioxidant in mushrooms. Some studies have suggested that consuming choline can reduce the risk of some types of cancer, but at least one other study has indicated that it may increase the risk of prostate cancer.
								
								It is worth noting that consuming a nutrient as a supplement is not the same as consuming it in the diet.</p>
								<h3>Diabetes</h3>
								<p>
									
									Dietary fiber may help manage a number of health conditions, including type 2 diabetes.

									A 2018 review of meta-analyses concluded that people who eat a lot of fiber may have a lower risk of developing type 2 diabetes. For those who already have it, fiber may help reduce blood glucose levels.

									A cup of sliced, raw mushrooms, weighing 70 grams (g), provides almost 1 g of fiber.

									The Dietary Guidelines for Americans recommend that adults consume 22.4–33.6 g of dietary fiber each day, depending on sex and age.

									Mushrooms, beans, some vegetables, brown rice, and whole-grain foods can all contribute to a person’s daily requirement of fiber.
								</p>
								<h3>Heart health</h3>
								<p>
									
									The fiber, potassium, and vitamin C in mushrooms may contribute to cardiovascular health.

									Potassium can help regulate blood pressure, and this may decrease the risk of hypertension and cardiovascular disease. The American Heart Association (AHA) recommend reducing the intake of added salt in the diet and eating more foods that contain potassium.

									According to current guidelines, people should consume around 4,700 milligrams (mg) of potassium each day. Mushrooms appear on the AHA’s list of foods that provide potassium.

									A 2016 study concluded that people with a vitamin C deficiency were more likely to experience cardiovascular disease and suggested that consuming vitamin C may help prevent this illness. They did not find evidence that vitamin C supplements can reduce the risk of this type of disease.

									There is some evidence that consuming a type of fiber called beta-glucans may lower blood cholesterol levels. Beta-glucans occur in the cell walls of many types of mushrooms.

									The stem of the shiitake mushrooms is a good source of beta-glucans.
								</p>
								<h3>In pregnancy</h3>
								<p>
									Many women take folic acid, or folate, supplements during pregnancy to boost fetal health, but mushrooms can also provide folate.

									A cup of whole, raw mushrooms contains 16.3 micrograms (mcg) of folate. Current guidelines recommend that adults consume 400 mcg of folate each day.


								</p>
								<h3>Other benefits</h3>
								<p>
									Mushrooms are rich in B vitamins, such as:

									riboflavin, or B-2
									folate, or B-9
									thiamine, or B-1
									pantothenic acid, or B-5
									niacin, or B-3
									B vitamins help the body get energy from food and form red blood cells. A number of B vitamins also appear to be important for a healthy brain.

									The choline in mushrooms can help with muscle movement, learning, and memory. Choline assists in maintaining the structure of cellular membranes and plays a role in the transmission of nerve impulses.

									Mushrooms are also the only vegan, nonfortified dietary source of vitamin D.
								</p>
					</div>
				</div>
				<!-- <div class="post">
					<h2 class="title"><a href="#">Lorem ipsum sed aliquam</a></h2>
					<p class="meta"><span class="date">November 20, 2011</span><span class="posted">Posted by <a href="#">Someone</a></span></p>
					<div style="clear: both;">&nbsp;</div>
					<div class="entry">
						<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.  Mauris quam enim, molestie in, rhoncus.</p>
						<p class="links"><a href="#" class="more">Read More</a><a href="#" title="b0x" class="comments">Comments</a></p>
					</div>
				</div>
				<div class="post">
					<h2 class="title"><a href="#">Consecteteur hendrerit </a></h2>
					<p class="meta"><span class="date">November 20, 2011</span><span class="posted">Posted by <a href="#">Someone</a></span></p>
					<div style="clear: both;">&nbsp;</div>
					<div class="entry">
						<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.  Mauris quam enim, molestie in, rhoncus.</p>
						<p class="links"><a href="#" class="more">Read More</a><a href="#" title="b0x" class="comments">Comments</a></p>
					</div>
				</div> -->
				<div style="clear: both;">&nbsp;</div>
			</div>
			<!-- end #content -->
			<div id="sidebar">
				<ul>
					<li>
						<br>
						<h2>Mushroom dataset</h2>
						<p>
							This site is based on the Mushroom data set, which includes data of samples corresponding to 23 species of gilled mushrooms in the Agaricus and Lepiota Family. 
							Each species is identified as edible or poisonous
							The Guide clearly states that there is no simple rule for determining the edibility of a mushroom.  
							It contains information about 8124 mushrooms (instances). 4208 (51.8%) are edible and 3916 (48.2%) are poisonous. 
						</p>
					</li>
					<li>
						<h2>Features</h2>
						<ul>
							<li>class</li>
							<li>cap-shape</li>
							<li>cap-surface</li>
							<li>cap-color</li>
							<li>bruises</li>
							<li>odor </li>
							<li>gill-attachment</li>
							<li>gill-spacing</li>
							<li>gill-size</li>
							<li>gill-color</li>
							<li>stalk-shape</li>
							<li>stalk-root</li>       
							<li>stalk-surface-above-ring</li>    
							<li>stalk-surface-below-ring</li>     
							<li>stalk-color-above-ring</li>       
							<li>stalk-color-below-ring</li>       
							<li>veil-type</li>                    
							<li>veil-color</li>                   
							<li>ring-number</li>                  
							<li>ring-type</li>                    
							<li>spore-print-color</li>            
							<li>population</li>                   
							<li>habitat</li>  
						</ul>
					</li>
					<li>
						<h2>DATASET LINK</h2>
						<ul>
							<li><a href="https://archive.ics.uci.edu/ml/datasets/mushroom">DATA</a></li>
						</ul>
					</li>
				</ul>
			</div>
			
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #page -->
		<div id="footer">
			<p> DESIGN BY TEAM 5.</a>.</p>
		</div>
	</div>
</div>
<!-- end #footer -->
</body>
</html>
