<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Mushrooms 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20111205

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Mushrooms by FCT</title>
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Marvel' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Marvel|Delius+Unicase' rel='stylesheet' type='text/css'>
<link href="/static/css/stylev1.css" rel="stylesheet" type="text/css" media="screen" />

</head>
<body>
<div id="wrapper">
	<div id="wrapper2">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">Mushrooms </a></h1>
			
			</div>
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href="{{ url_for('home') }}">Home</a></li>
					<li><a href="{{ url_for('Type_form') }}">Type</a></li>
					<li><a href="{{ url_for('Health_form') }}">Health Tips</a></li>
					<li><a href="{{ url_for('Qc_form') }}">Qc</a></li>
                    <li><a href="{{ url_for('Visualization_form') }}">Visualization</a></li>
				</ul>
			</div>
		</div>
		<!-- end #header -->
		<div id="page">
			<div id="content">
				<div class="post">
					<h2 class="title"><a href="#">Welcome to Mushrooms </a></h2>
					
					<div style="clear: both;">&nbsp;</div>
					<div class="entry">
						<p>What is mushroom?

							Mushrooms, are not plants although they are classified as vegetables 
							in the food kingdom. Mushrooms belong to the fungi kingdom and contain a host of essential nutrients.
							 Mushrooms are actually saprophytes, organisms that depend on dead and decaying animal and plant matter for their nutrition.
							The body of the mushroom is generally spread over a large area and is hardly noticed. 
							The part of the mushroom that we see is actually only the ‘fruit’ of the vegetable. 
							There are thousands of varieties of mushroom-forming fungi across the world but scientists 
							have been able to identify only about 10 percent of them.</p>
						<p>Mushrooms are a rich, low calorie source of fiber, protein, and antioxidants. They may also mitigate the risk of developing serious health conditions, such as Alzheimer's, heart disease, cancer, and diabetes.

							They're also great sources of:
							Selenium.
							Copper.
							Thiamin.
							Magnesium.
							Phosphorous.</p>
					</div>
				</div>
				<div class="post">
					<h2 class="title"><a href="#">Nutritional benefits of eating mushrooms</a></h2>
					<div style="clear: both;">&nbsp;</div>
					<div class="entry">
						<p>You can’t go wrong with mushrooms. They’re fat-free, low-sodium, low-calorie, and cholesterol-free. They’re also packed with fiber, vitamins, and minerals. Nutritional benefits vary depending on the type of mushroom. But overall, they are a good source of the following nutrients.
							Antioxidants help protect the body from damaging free radicals that can cause conditions like heart disease and cancer. They also protect you against damage from aging and boost your immune system. Mushrooms are rich in the antioxidant called selenium. In fact, they are the best source of the mineral in the produce aisle.
							Beta glucan is a form of soluble dietary fiber that’s been strongly linked to improving cholesterol and boosting heart health. It can also help your body regulate blood sugar, reducing the risk of type 2 diabetes. Oyster and shiitake mushrooms are believed to have the most effective beta glucans.
							Mushrooms are rich in the B vitamins: riboflavin, niacin, and pantothenic acid. The combination helps protect heart health. Riboflavin is good for red blood cells. Niacin is good for the digestive system and for maintaining healthy skin. Pantothenic acid is good for the nervous system and helps the body make the hormones it needs.
							Copper helps your body make red blood cells, which are used to deliver oxygen all over the body. The mineral is also important to other processes in the body, like maintaining healthy bones and nerves. Even after being cooked, a 1-cup serving of mushrooms can provide about one-third of the daily recommended amount of copper.
						</p>
					</div>
				</div>

				<div class="post">
					<h2 class="title"><a href="#">Mushroom poisoning </a></h2>
					<div style="clear: both;">&nbsp;</div>
					<div class="entry">
						<p>Mushroom poisoning, also called toadstool poisoning, toxic, sometimes fatal, effect of eating poisonous mushrooms (toadstools).
							 There are some 70 to 80 species of mushrooms that are poisonous to humans; many of them contain toxic alkaloids (muscarine, agaricine, phalline).
							 Poisoning by mushrooms is common and may be fatal or produce merely mild gastrointestinal disturbance or slight allergic reaction. 
							 It is important that every mushroom intended for eating be accurately identified. It is not easy to differentiate poisonous mushrooms from healthy mushrooms. 
							 Consumption of poisonous mushrooms may result in severe illnesses in humans and can even cause death.
							  As beta-glucans present in mushroom stimulate immune function, people with autoimmune diseases like arthritis, lupus, asthma and multiple sclerosis should avoid consuming it.
							 
							 <br>
							  Most species are not edible as they are highly poisonous and look strikingly similar to their edible counterparts. The other side effects of mushroom include the following:
							  <br>
							 Some varieties contain psilocybin and psilocin, substances that can cause hallucinations. 
							 A single poisonous mushroom among others in a dish can threaten a large number of people’s health, resulting in coma, severe poison symptoms, nausea, vomiting, convulsions, cramps, and insanity. 
							 Many species can even be fatal if ingested.
							 Always avoid eating discolored ones or those which are different in color than the typically accepted color of their species.
							 
						</p>
					</div>
				</div>
				<div style="clear: both;">&nbsp;</div>
			</div>
			<!-- end #content -->
			<div id="sidebar">
				<ul>
					<li>
						<br>
						<h2>Mushroom dataset</h2>
						<p>
							This site is based on the Mushroom data set, which includes data of samples corresponding to 23 species of gilled mushrooms in the Agaricus and Lepiota Family. 
							Each species is identified as edible or poisonous
							The Guide clearly states that there is no simple rule for determining the edibility of a mushroom.  
							It contains information about 8124 mushrooms (instances). 4208 (51.8%) are edible and 3916 (48.2%) are poisonous. 
						</p>
					</li>
					<li>
						<h2>Features</h2>
						<ul>
							<li>class</li>
							<li>cap-shape</li>
							<li>cap-surface</li>
							<li>cap-color</li>
							<li>bruises</li>
							<li>odor </li>
							<li>gill-attachment</li>
							<li>gill-spacing</li>
							<li>gill-size</li>
							<li>gill-color</li>
							<li>stalk-shape</li>
							<li>stalk-root</li>       
							<li>stalk-surface-above-ring</li>    
							<li>stalk-surface-below-ring</li>     
							<li>stalk-color-above-ring</li>       
							<li>stalk-color-below-ring</li>       
							<li>veil-type</li>                    
							<li>veil-color</li>                   
							<li>ring-number</li>                  
							<li>ring-type</li>                    
							<li>spore-print-color</li>            
							<li>population</li>                   
							<li>habitat</li>  
						</ul>
					</li>
					<li>
						<h2>DATASET LINK</h2>
						<ul>
							<li><a href="https://archive.ics.uci.edu/ml/datasets/mushroom">DATA</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- end #sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #page -->
		<div id="footer">
			<p> DESIGN BY TEAM 5.</a>.</p>
		</div>
	</div>
</div>
<!-- end #footer -->
</body>
</html>
