<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Mushrooms 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20111205

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Mushrooms by FCT</title>
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Marvel' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Marvel|Delius+Unicase' rel='stylesheet' type='text/css'>
<link href="/static/css/stylev1.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="wrapper2">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">Mushrooms </a></h1>
			
			</div>
			<div id="menu">
				<ul>
					
					<li  ><a href="{{ url_for('home') }}">Home</a></li>
					<li class="current_page_item"><a href="{{ url_for('Type_form') }}">Type</a></li>
					<li ><a href="{{ url_for('Health_form') }}">Health Tips</a></li>
					<li><a href="{{ url_for('Qc_form') }}">Qc</a></li>
                    <li><a href="{{ url_for('Visualization_form') }}">Visualization</a></li>
				</ul>
			</div>
		</div>
		<!-- end #header -->
		<div id="page">
			<div id="content">
				<div class="post">
					<h2 class="title"><a href="#">Types of mushroom </a></h2>
					
					<div style="clear: both;">&nbsp;</div>
					<div class="entry">
						<p>There are over 50,000 species of mushrooms, including molds and yeasts. Various types are hallucinogenic, 1 to 2 % of species are poisonous, and others are used for their medicinal properties. Although most mushrooms are edible, few species are actually consumed, as most species can be tough, woody, or gelatinous, give off an unpleasant smell, or taste bad. Only about 20 varieties are truly flavorful. A number of species can be cultivated, including boletes, pleurotus mushrooms, shiitakes, wood ears and common mushrooms. Truffles are also grown commercially.</p>
							<img src="/static/images/types.jpg" alt="mushroom">
							<br>
							<br>
							<h3>1. WHITE BUTTON MUSHROOM</h3>
							<p>ALTERNATE NAMES: ABLE MUSHROOM, CULTIVATED MUSHROOM, BUTTON, CHAMPIGNON (DE PARIS)
								<br>
								CHARACTERISTICS: THE MOST COMMON AND MILDEST-TASTING MUSHROOM AROUND. NINETY PERCENT OF THE MUSHROOMS WE EAT ARE THIS VARIETY. LESS INTENSELY FLAVORED THAN MANY OF ITS MORE EXOTIC KIN, IT CAN BE EATEN EITHER RAW OR COOKED, AND WORKS WELL IN SOUPS AND SALADS, AND ON PIZZAS.
								</p>
							<h3>2. CRIMINO MUSHROOM </h3>
							<p>ALTERNATE NAMES: CREMINI, BABY BELLAS, GOLDEN ITALIAN MUSHROOMS, ROMAN, CLASSIC BROWN, ITALIAN BROWN, BROWN MUSHROOMS
								<br>
								CHARACTERISTICS: A CRIMINO IS A YOUNG PORTOBELLO. ALTHOUGH THE CRIMINO IS DARKER, FIRMER AND MORE FLAVORFUL THAN ITS COUSIN THE WHITE BUTTON MUSHROOM, THE TWO CAN BE USED INTERCHANGEABLY. INCREASINGLY, RETAILERS HOPING TO CAPITALIZE ON THE POPULARITY OF THE PORTABELLOS ARE SELLING CRIMINI MUSHROOMS AS "BABY BELLAS."
								</p>
							<h3>3. PORTABELLO MUSHROOM</h3>
							<p>ALTERNATE NAMES: PORTOBELLA, FIELD MUSHROOM, OPEN CAP MUSHROOM
								<br>
								CHARACTERISTICS: COMMON IN ITALIAN COOKING, DENSE, RICH PORTOBELLOS LEND DEPTH TO SAUCES AND PASTAS AND MAKE A GREAT MEAT SUBSTITUTE. WHEN PORTABELLOS ARE YOUNG AND SMALL, THEY'RE CALLED CRIMINIS. IF YOU WANT A BUN-SUBSTITUTE, YOU CAN EVEN USE THE MUSHROOM'S FLAT CAP. MUSHROOMS OF THIS VARIETY ARE AS WIDE AS THE PALM OF YOUR HAND, AND THEIR MEATY TEXTURE STANDS UP TO GRILLING AND STUFFING (OR BOTH!).
								   </p>
							<h3>4. SHIITAKE MUSHROOM</h3>
							<p>ALTERNATE NAMES: SHITAKE, BLACK FOREST, BLACK WINTER, BROWN OAK, CHINESE BLACK, BLACK MUSHROOM, ORIENTAL BLACK, FOREST MUSHROOM, GOLDEN OAK, DONKO. 
								<br>
								CHARACTERISTICS: IN JAPANESE, SHIITAKE MEANS "OAK FUNGUS," WHICH DESCRIBES WHERE THE MUSHROOMS CAN BE FOUND IN THE WILD. THESE DAYS, HOWEVER, MOST SHIITAKES ARE CULTIVATED. THEY'RE BEST IDENTIFIED BY THEIR UMBRELLA-SHAPED BROWN CAPS, WHICH CURL UNDER EVER SO SLIGHTLY. FRESH SHIITAKES HAVE A LIGHT WOODSY FLAVOR AND AROMA, WHILE THEIR DRIED COUNTERPARTS ARE MORE INTENSE.
								</p>
							<h3>5. MAITAKE MUSHROOM</h3>
							<p>ALTERNATE NAMES: HEN OF THE WOOD, SHEEPSHEAD MUSHROOM, RAM'S HEAD, KUMOTAKE, DANCING MUSHROOM 
								<br>
								CHARACTERISTICS: FROM AFAR, THIS MUSHROOM CAN LOOK LIKE A HEAD OF CABBAGE. CULTIVATED, AS WELL AS FOUND IN THE WOODS, THESE MUSHROOMS ARE OFTEN SOLD IN CLUSTERS WITH THEIR SOFT, FEATHERY CAPS OVERLAPPING. THIS MUSHROOM HAS AN EARTHY AROMA AND A GAMY FLAVOR, AND IS NATIVE TO BOTH THE NORTHWESTERN UNITED STATES AND JAPAN. THEY GROW WILD EAST OF THE MISSISSIPPI RIVER IN AUGUST AND SEPTEMBER.
								</p>
					</div>
				</div>
				<!-- <div class="post">
					<h2 class="title"><a href="#">Lorem ipsum sed aliquam</a></h2>
					<p class="meta"><span class="date">November 20, 2011</span><span class="posted">Posted by <a href="#">Someone</a></span></p>
					<div style="clear: both;">&nbsp;</div>
					<div class="entry">
						<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.  Mauris quam enim, molestie in, rhoncus.</p>
						<p class="links"><a href="#" class="more">Read More</a><a href="#" title="b0x" class="comments">Comments</a></p>
					</div>
				</div>
				<div class="post">
					<h2 class="title"><a href="#">Consecteteur hendrerit </a></h2>
					<p class="meta"><span class="date">November 20, 2011</span><span class="posted">Posted by <a href="#">Someone</a></span></p>
					<div style="clear: both;">&nbsp;</div>
					<div class="entry">
						<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.  Mauris quam enim, molestie in, rhoncus.</p>
						<p class="links"><a href="#" class="more">Read More</a><a href="#" title="b0x" class="comments">Comments</a></p>
					</div>
				</div> -->
				<div style="clear: both;">&nbsp;</div>
			</div>
			<!-- end #content -->
			<div id="sidebar">
				<ul>
					<li>
						<br>
						<h2>Mushroom dataset</h2>
						<p>
							This site is based on the Mushroom data set, which includes data of samples corresponding to 23 species of gilled mushrooms in the Agaricus and Lepiota Family. 
							Each species is identified as edible or poisonous
							The Guide clearly states that there is no simple rule for determining the edibility of a mushroom.  
							It contains information about 8124 mushrooms (instances). 4208 (51.8%) are edible and 3916 (48.2%) are poisonous. 
						</p>
					</li>
					<li>
						<h2>Features</h2>
						<ul>
							<li>class</li>
							<li>cap-shape</li>
							<li>cap-surface</li>
							<li>cap-color</li>
							<li>bruises</li>
							<li>odor </li>
							<li>gill-attachment</li>
							<li>gill-spacing</li>
							<li>gill-size</li>
							<li>gill-color</li>
							<li>stalk-shape</li>
							<li>stalk-root</li>       
							<li>stalk-surface-above-ring</li>    
							<li>stalk-surface-below-ring</li>     
							<li>stalk-color-above-ring</li>       
							<li>stalk-color-below-ring</li>       
							<li>veil-type</li>                    
							<li>veil-color</li>                   
							<li>ring-number</li>                  
							<li>ring-type</li>                    
							<li>spore-print-color</li>            
							<li>population</li>                   
							<li>habitat</li>  
						</ul>
					</li>
					<li>
						<h2>DATASET LINK</h2>
						<ul>
							<li><a href="https://archive.ics.uci.edu/ml/datasets/mushroom">DATA</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- end #sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #page -->
		<div id="footer">
			<p> DESIGN BY TEAM 5.</a>.</p>
		</div>
	</div>
</div>
<!-- end #footer -->
</body>
</html>
